<!--IIFL LOGIN SCREEN 21 FEB 2022 BY JOSEPH ASWATH.JS-->

<div class="parent-division ">
    <!--70% block-->
<div class="big-block">
<img src="/assets/images/new-IIFL-Logo.png" alt="iifl logo top left corner" class="iifl-logo">
</div>
    <!--login section-->
<div class="login-block">
<div class="inner-login-block">
<h2 class="portal-heading">Investor Login</h2> 
<p class="sub-heading">manage your portfolio,transactions and more!</p> 
<img src="/assets/images/download.PNG" class="profile-picture">

  <!--reactive-form-->
<form [formGroup]="PAN" class="pan">

<label for="panNumber" class="form-label">PAN</label> <br>
<input formControlName="FormInput" name="panNumber" type="text" id="pan-number"/> 


<div class="warning" *ngIf="PAN.controls['FormInput'].value.length !==0 && PAN.controls['FormInput'].invalid" >
<p>INVALID PAN NUMBER...</p>
</div>

<div class="success" *ngIf="PAN.controls['FormInput'].valid && PAN.controls['FormInput'].dirty">
<p>VALID PAN NUMBER...</p>
</div>

<button class="login-button" (click)="submitForm()" [disabled]="PAN.controls['FormInput'].invalid">
  LOGIN
</button>

</form>
  <!--reactive-form-->
</div>
</div>

</div>

