<!--IIFL LOGIN SCREEN 21 FEB 2022 BY JOSEPH ASWATH.JS-->

<div class="parent-division ">
                      <!--70% block-->
  <div class="big-block">
    <img src="/assets/images/new-IIFL-Logo.png" alt="iifl logo top left corner" class="iifl-logo">
  </div>
                      <!--login section-->
  <div class="login-block">
    <div class="inner-login-block">
      <h2 class="portal-heading">Investor Login</h2> 
      <p class="sub-heading">manage your portfolio,transactions and more!</p> 
      <img src="/assets/images/download.PNG" class="profile-picture">

                    <!--reactive-form-->
      <form [formGroup]="PAN" class="pan">
        <label for="pan-number" class="form-label">PAN</label> <br>

        <!--input type="text" id="pan-number"--> 
        <input formControlName="FormInput" type="text" id="pan-number"/> 

        <input type="submit" class="login-button" value="Login">
        
      </form>
                    <!--reactive-form-->
    </div>
  </div>

</div>

<!-- form validation regex mechanism in js - to be implemented in Ts
  /**********************/
var panNumber = "ABCDE1234F";
var panRegEx = /\w{5}\d{4}\w/g;
var valid = panRegEx.test(panNumber);
console.log("validity status:",valid);
/***************/
-->